extends layout
block content
    div.container(data-ng-controller='indexCtrl')
        div.row
            div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
                h1.text-center.title Login
                div.content-wall
                    img.img-responsive(class='app-img', src='/img/user_blue.png', alt='Responsive image')
                    br
                    if message
                        span.text-center.text-danger #{message}
                    form.form-signin(action='/login', method='post')
                        div.form-group
                            div.input-group
                                div.input-group-addon
                                    i.glyphicon.glyphicon-user.text-muted
                                input(type='text', name='email' class='form-control', placeholder='Email', required, autofocus)
                        div.form-group
                            div.input-group
                                div.input-group-addon
                                    i.glyphicon.glyphicon-asterisk.text-muted
                                input(type='password', name='password' class='form-control', placeholder='Password', required)
                        br
                        div.form-group
                            button(class='btn btn-success btn-block', type='submit') Sign in
                    span.clearfix
                    div
                        a(href='/forgot') Forgot Password
                        | &nbsp or &nbsp
                        a(href='/signup') Register