doctype html
html(ng-app='myApp')
  head
    meta(charset='utf-8')

    title= title

    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='styleSheet', href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css')

    //script(type='application/javascript', src='/js/angular.js')

    if showTests
      link(rel='stylesheet', href='/external/mocha.css')

  body.body
    include head.jade

    div(ng-view)
      block content

    include footer.jade